<div class="bpm-wrap">
  <div class="palette-entries">
    <div *ngFor="let item of types" class="bpm-item">
      <div [id]="item" [draggable]="true" [ngStyle]="{'color': text[item], 'background': colors[item]}"  class="square" [title]="item"
        tooltipPosition="top">
        {{item}}
      </div>
    </div>
    <div class="el_wrap">
      <div id="AND" class="rhombus-wrap" [draggable]="true">
        <p class="m-text">AND</p>
      </div>
      <div id="OR" class="rhombus-wrap" [draggable]="true">
        <p class="m-text">or</p>
      </div>
    </div>
    <div class="el_wrap">
      <div (click)="arrowSelect()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 11.871l-5-4.871v3h-19v4h19v3z"/></svg></div>
    </div>
  </div>
  <div class="coco-bpm-graph" id="graph"></div>
  <!-- <div class="clickShield" *ngIf="showSide" (click)="showSide = false"></div> -->
  <div (click)="showSide = !showSide" class="toggle-sidebar-btn" [ngClass]="{ 'active': showSide }">
    <a mat-raised-button>
      <span class="icons">
        <img src="/assets/subject-black.svg">
        </span>
    </a>
  </div>
  <div [ngClass]="{ show: showSide }" *ngIf="selectedModal && newItem" class="sidebar show">
    <div class="cont__wrap">
      <p class="m-title">Rule Details</p>
      <div  class="rule-row__gen">
        <label for="key" class="r-name">Key</label>
        <input [(ngModel)]="newItem.key" type="text" class="input-gen" placeholder="key" id="key">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Name</label>
        <input type="text" class="input-gen" placeholder="Name" id="name">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Family Name</label>
        <input type="text" class="input-gen" placeholder="Family Name" id="family_name">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Email</label>
        <input type="text" class="input-gen" placeholder="Email" id="email">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Email Varified</label>
        <input type="checkbox" class="input-gen" placeholder="Email Varified" id="email_verified">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Phone Number</label>
        <input type="text" class="input-gen" placeholder="Phone Number" id="phone_number">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Phone Number Varified</label>
        <input type="checkbox" class="input-gen" placeholder="Phone Number Varified" id="phone_number_verified">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="type" class="r-name">National Identifier Varified</label>
        <select type="text" class="input-gen sel" placeholder="" id="national_identifier_verified">
          <option>Weak</option>
          <option>Fair</option>
          <option>Strong</option>
          <option>Superior</option>
        </select>
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">Push</label>
        <input type="text" class="input-gen" placeholder="Push" id="push">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">oath</label>
        <input type="text" class="input-gen" placeholder="oath" id="oath">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">otp sms</label>
        <input type="text" class="input-gen" placeholder="otp sms" id="otp_sms">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">password</label>
        <input type="text" class="input-gen" placeholder="password" id="password">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Contextual Rules' || data[this.selectedModal].objectClass === 'Role type x'" class="rule-row__gen">
        <label for="key" class="r-name">numberOfAuthPwd</label>
        <input type="number" class="input-gen" placeholder="numberOfAuthPwd" id="numberOfAuthPwd">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Contextual Rules' || data[this.selectedModal].objectClass === 'Role type x'" class="rule-row__gen">
        <label for="key" class="r-name">numberOfAuthPush</label>
        <input type="number" class="input-gen" placeholder="numberOfAuthPush" id="numberOfAuthPush">
      </div>
    </div>
    <button class="save-btn" (click)="saveForm()">Save</button>
  </div>
</div>