<div class="bpm-wrap">
  <div class="header-palette">
    <div class="icons-wrap">
      <button class="btn-gen_wrap">
        <img class="img-but rot" src="/assets/tree.svg" alt="tree">
      </button>
      <button class="btn-gen_wrap">
        <img class="img-but" src="/assets/bin.svg" alt="bin">
      </button>
      <button class="btn-gen_wrap">
        <img class="img-but" src="/assets/zoomp.svg" alt="zoom">
      </button>
      <button class="btn-gen_wrap">
        <img class="img-but" src="/assets/zoomm.svg" alt="zoom">
      </button>
    </div>
  </div>
  <div class="palette-entries">
    <div class="head-entries">
      <p>Components</p>
    </div>
    <div class="entries-cont_wrap">
      <div class="item_wrap">
        <p class="icon_wrap">
          <img class="img-but rot" src="/assets/tree.svg" alt="tree">
        </p>
        <p class="item-title">Logical AND relation</p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap">
          <img class="img-but rot" src="/assets/tree.svg" alt="tree">
        </p>
        <p class="item-title">Logical OR relation</p>
      </div>
      <div class="padding">
        <p></p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap no-m">
          <img class="img-but" src="/assets/business.svg" alt="card">
        </p>
        <p class="item-title">Data Identity</p>
        <p class="d-arrow">
          <img src="/assets/down.svg" alt="down">
        </p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap no-m">
          <img class="img-but" src="/assets/social.svg" alt="soc">
        </p>
        <p class="item-title">Contact Element</p>
        <p class="d-arrow">
          <img src="/assets/down.svg" alt="down">
        </p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap no-m">
          <img class="img-but" src="/assets/hammer.svg" alt="hammer">
        </p>
        <p class="item-title">Proof Identity</p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap no-m">
          <img class="img-but" src="/assets/finger.svg" alt="finger">
        </p>
        <p class="item-title">Authentication Means</p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap no-m">
          <img class="img-but" src="/assets/graph.svg" alt="graph">
        </p>
        <p class="item-title">Authentication Audit</p>
      </div>
      <div class="item_wrap">
        <p class="icon_wrap no-m">
          <img class="img-but" src="/assets/social.svg" alt="soc">
        </p>
        <p class="item-title">Contextual Element</p>
      </div>
    </div>
    
    <!-- <div *ngFor="let item of types" class="bpm-item">
      <div [id]="item" [draggable]="true" [ngStyle]="{'color': text[item], 'background': colors[item]}" class="square"
        [title]="item" tooltipPosition="top">
        {{item}}
      </div>
    </div>
    <div class="el_wrap">
      <div id="AND" class="rhombus-wrap" [draggable]="true">
        <p class="m-text">AND</p>
      </div>
      <div id="OR" class="rhombus-wrap" [draggable]="true">
        <p class="m-text">or</p>
      </div>
    </div>
    <div class="el_wrap">
      <div style="cursor: pointer;" (click)="arrowSelect()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M24 11.871l-5-4.871v3h-19v4h19v3z" /></svg></div>
    </div> -->
  </div>
  <div class="coco-bpm-graph" id="graph"></div>
  <!-- <div class="clickShield" *ngIf="showSide" (click)="showSide = false"></div> -->
  <div (click)="showSide = !showSide" class="toggle-sidebar-btn" [ngClass]="{ 'active': showSide }">
    <a mat-raised-button>
      <span class="icons">
        <img src="/assets/subject-black.svg">
      </span>
    </a>
  </div>
  <div [ngClass]="{ show: showSide }" *ngIf="selectedModal && newItem" class="sidebar show">
    <div class="cont__wrap">
      <p class="m-title">Rule Details</p>
      <div class="rule-row__gen">
        <label for="key" class="r-name">Key</label>
        <input [(ngModel)]="newItem.key" type="text" class="input-gen" placeholder="key" id="key">
      </div>
      <div class="rule-row__gen">
        <label for="type" class="r-name">Attribute</label>
        <select type="text" class="input-gen sel" [(ngModel)]="newItem.attribute" (ngModelChange)="changeAttr($event)">
          <option *ngFor="let item of selectedData['name' + newItem.objectClass]">{{item}}</option>
        </select>
      </div>
      <div class="rule-row__gen">
        <label for="key" class="r-name">Name</label>
        <input [(ngModel)]="newItem.name" type="text" class="input-gen" placeholder="Name" id="name">
      </div>
      <div class="rule-row__gen">
        <label for="key" class="r-name">Description</label>
        <input [(ngModel)]="newItem.description" type="text" class="input-gen" placeholder="Description" id="description">
      </div>
      <!-- <div class="rule-row__gen">
        <label for="type" class="r-name">Type</label>
        <select type="text" class="input-gen sel" [(ngModel)]="newItem.type">
          <option *ngFor="let item of selectedData['type' + newItem.objectClass + newItem.attribute]">{{item}}</option>
        </select>
      </div> -->
      <div class="rule-row__gen">
        <label for="type" class="r-name">Type</label>
        <input [(ngModel)]="newItem.type" type="text" class="input-gen" placeholder="type" id="type">
      </div>
      <div class="rule-row__gen">
        <label for="type" class="r-name">Operation</label>
        <select type="text" class="input-gen sel" [(ngModel)]="newItem.operations">
          <option *ngFor="let item of selectedData['operations' + newItem.objectClass + newItem.attribute]">{{item}}</option>
        </select>
      </div>
      <div *ngIf="selectedData['values' + newItem.objectClass + newItem.attribute]" class="rule-row__gen">
        <label for="type" class="r-name">Value</label>
        <select type="text" class="input-gen sel" [(ngModel)]="newItem.value">
          <option *ngFor="let item of selectedData['values' + newItem.objectClass + newItem.attribute]">{{item}}</option>
        </select>
      </div>
      <div *ngIf="!selectedData['values' + newItem.objectClass + newItem.attribute]" class="rule-row__gen">
        <label for="type" class="r-name">Value</label>
        <input [(ngModel)]="newItem.valueText" type="text" class="input-gen" placeholder="value" id="valuetext">
      </div>
      <!-- <div *ngFor="let item of newItem.attributes">
        <div *ngIf="item.type === 'string' && !item.values" class="rule-row__gen">
          <label for="key" class="r-name">{{item.name}}</label>
          <input [(ngModel)]="item.value" type="text" class="input-gen" [placeholder]="item.name" [id]="item.name">
        </div>
        <div *ngIf="item.type === 'integer' && !item.values" class="rule-row__gen">
          <label for="key" class="r-name">{{item.name}}</label>
          <input [(ngModel)]="item.value" type="number" class="input-gen" [placeholder]="item.name" [id]="item.name">
        </div>
        <div *ngIf="item.type === 'boolean'" class="rule-row__gen">
          <label for="name" class="r-name">{{item.name}}</label>
          <div class="form-checkbox__wrap">
            <input type="checkbox" [(ngModel)]="item.value" class="form-checkbox__subscribe" [name]="item.name" [id]="item.name"
              [placeholder]="item.name">
            <label for="phone_number_verified" class="form__link"></label>
          </div> 
        </div>
        <div *ngIf="item.type === 'string' && item.values" class="rule-row__gen">
          <label for="type" class="r-name">{{item.name}}</label>
          <select [(ngModel)]="item.value" type="text" class="input-gen sel" [name]="item.name" [id]="item.name"
         >
            <option *ngFor="let o of item.values" [value]="o">{{o}}</option>
          </select>
        </div>
      </div> -->

      
      <!-- <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Name</label>
        <input type="text" class="input-gen" placeholder="Name" id="name">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Family Name</label>
        <input type="text" class="input-gen" placeholder="Family Name" id="family_name">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Email</label>
        <input type="text" class="input-gen" placeholder="Email" id="email">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Email Verified</label>
        <div class="form-checkbox__wrap">
          <input type="checkbox" class="form-checkbox__subscribe" name="name" id="email_verified"
          placeholder="Email Varified">
          <label for="email_verified" class="form__link"></label>
        </div>
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Phone Number</label>
        <input type="text" class="input-gen" placeholder="Phone Number" id="phone_number">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="name" class="r-name">Phone Number Verified</label>

        <div class="form-checkbox__wrap">
          <input type="checkbox" class="form-checkbox__subscribe" name="name" id="phone_number_verified"
            placeholder="Phone Number Verified">
          <label for="phone_number_verified" class="form__link"></label>
        </div>
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Data Model'" class="rule-row__gen">
        <label for="type" class="r-name">National Identifier Verified</label>
        <select type="text" class="input-gen sel" placeholder="" id="national_identifier_verified">
          <option>Weak</option>
          <option>Fair</option>
          <option>Strong</option>
          <option>Superior</option>
        </select>
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">Push</label>
        <input type="text" class="input-gen" placeholder="Push" id="push">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">oath</label>
        <input type="text" class="input-gen" placeholder="oath" id="oath">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">otp sms</label>
        <input type="text" class="input-gen" placeholder="otp sms" id="otp_sms">
      </div>
      <div *ngIf="data[this.selectedModal].objectClass === 'Audit Rules'" class="rule-row__gen">
        <label for="key" class="r-name">password</label>
        <input type="text" class="input-gen" placeholder="password" id="password">
      </div>
      <div
        *ngIf="data[this.selectedModal].objectClass === 'Contextual Rules' || data[this.selectedModal].objectClass === 'Role type x'"
        class="rule-row__gen">
        <label for="key" class="r-name">numberOfAuthPwd</label>
        <input type="number" class="input-gen" placeholder="numberOfAuthPwd" id="numberOfAuthPwd">
      </div>
      <div
        *ngIf="data[this.selectedModal].objectClass === 'Contextual Rules' || data[this.selectedModal].objectClass === 'Role type x'"
        class="rule-row__gen">
        <label for="key" class="r-name">numberOfAuthPush</label>
        <input type="number" class="input-gen" placeholder="numberOfAuthPush" id="numberOfAuthPush">
      </div> -->
    </div>
    <button class="save-btn" (click)="saveForm()">Save</button>
  </div>
</div>