.item-cont__list {
  display: none;
}
.item-cont__list.active {
  display: flex;
  flex-direction: column;
  height: auto;
}
.list_item {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 0 0 45px;
  background-color: #daedf8;
  border-bottom: 1px solid #4472c4;
  margin-bottom: 2px;
  cursor: pointer;
}
.d-arrow {
  margin: 0;
  width: 10px;
  margin-left: auto;
  cursor: pointer;
}
.item_title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #111;
  font-weight: 500;
  margin: 0;
}
.icon_wrap.no-m .img-but {
  margin: 0;
}
.d-arrow img {
  max-width: 100%;
}
.header-palette {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #f6f7fb;
  padding: 0 2% 0 245px;
  display: flex;
  align-items: center;
}
.head-entries {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 2% 0 12%;
}
.head-entries p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px 0;
}
.item_wrap {
  display: flex;
  align-items: center;
  background-color: #017bb0;
  padding: 0 8px;
  box-sizing: border-box;
  height: 38px;
  border-bottom: 1px solid #fff;
}
.padding {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f7fb;
  height: 38px;
}
.padding p {
  height: 1px;
  width: 100%;
  background-color: #017bb0;
}
.icon_wrap {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(26, 25, 25);
  margin-right: 10px;
}
.item-title {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.icons-wrap {
  display: flex;
  flex-direction: row;
}
.btn-gen_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.btn-gen_wrap:hover {
  background-color: #fff;
  transition: 0.2s;
}
.img-but {
  max-width: 75%;
}
.img-but.rot {
  transform: rotate(90deg);
}
.icon_wrap .img-but {
  max-width: 60%;
  margin-right: -4px;
}

.form-checkbox__wrap {
  width: 61%;
  position: relative;
}
.form-checkbox__subscribe {
  appearance: none;
  position: absolute;
}
.form__link {
  cursor: pointer;
}
.form__link:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.form__link:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(/assets/check.png) no-repeat;
  background-size: 16px 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  opacity: 0;
}
.form-checkbox__subscribe:checked + .form__link:before {
  border: 1px solid #fcc106;
}
.form-checkbox__subscribe:checked + .form__link:after {
  opacity: 1;
}

.coco-bpm-graph {
  height: 99.6vh;
}
.rhombus-wrap {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: #000;
  position: relative;
  top: -18px;
  cursor: pointer;
}
.rhombus-wrap:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -18px;
  top: 18px;
  border: 18px solid transparent;
  border-top-color: #000;
}
.save-btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #5ac894;
  display: block;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  font-weight: 600;
  border: 2px solid #daecf8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.el_wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 18px;
}
.m-text {
  position: absolute;
  top: 12px;
  margin: 0;
  margin: 0;
  z-index: 2;
}
.cont__wrap {
  background: transparent;
  padding: 13px 22px 45px 13px;
  box-sizing: border-box;
}
.m-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
}
.r-name {
  font-family: "Open Sans", sans-serif;
  color: #8e8d8d;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  max-width: 85px;
}
.icons {
  cursor: pointer;
}
.rule-row__gen {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin: 10px 0;
  min-height: 22px;
}
.input-gen {
  font-family: "Open Sans", sans-serif;
  color: #000;
  height: 30px;
  padding: 0 8px;
  box-sizing: border-box;
  max-width: 170px;
  width: 100%;
  border-radius: 5px;
  background-color: #f5f6f5;
  border: 2px solid #daecf8;
  margin-bottom: 2px;
}
.input-gen.sel {
  padding: 0 5px;
  cursor: pointer;
}
textarea.input-gen {
  height: auto;
  min-height: 90px;
  padding: 8px 10px;
}
.bpm-wrap {
  position: relative;
  width: auto;
  height: 100%;
  background: white;
  border: 1px solid #ececec;
  overflow: hidden;
  min-height: calc(100vh - 58px);
}

.palette-entries {
  position: absolute;
  padding: 0 0 30px 0;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  min-width: 180px;
  border-radius: 0px;
  background: #f6f7fb;
  border: none;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  box-sizing: border-box;
  border-right: 2px solid #fff;

  .bpm-item {
    width: 80%;
    margin: 0 auto 15px auto;
    height: 35px;
    line-height: 46px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: #333;
      font-size: 30px;
    }

    &:hover {
      .icon {
        color: #ff7400;
      }
    }
    .square {
      font-family: "Roboto", sans-serif;
      width: 100%;
      height: 35px;
      border-radius: 2px;
      font-weight: 600;
      border: 2px solid #daecf8;
      display: flex;
      align-items: center;
      font-size: 17px;
      padding-left: 3px;
      cursor: pointer;
      line-height: 1;
      overflow: hidden;
      word-break: break-all;
    }
  }

  .separator {
    margin: 0 5px;
    padding-top: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    clear: both;
    width: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  max-width: 330px;
  background-color: #f6f7fb;
  transform: translate(100%, 0);
  transition: all 0.4s;
  height: 100%;
  right: 0;
  top: 0;
  padding: 32px 0 60px 15px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 41px;

  &.show {
    transform: translate(0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) -8px 0px 5px -4px;
    z-index: 111;
  }
}

mat-form-field {
  display: block;
}

.input-btn-wrap {
  display: flex;
  align-items: center;

  mat-form-field {
    width: 100%;
  }

  button.btn {
    min-width: 0;
    padding: 0 6px;
    margin-left: 25px;
    min-width: 35px;

    .material-icons {
      transform: rotate(-90deg);
    }
  }
}

table {
  width: 100%;
  td {
    padding: 0;
  }
  th {
    padding: 0;
  }
}

.chekboxs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 5px;

  mat-checkbox {
    width: 50%;
  }
}

.loop-item {
  padding-bottom: 20px;
  border-bottom: 1px dashed #b7b7b7;
  padding: 5px 10px;
  padding-bottom: 10px;
  border: 1px dashed #b7b7b7;

  &.desc {
    padding: 0 !important;
    border: none !important;
  }
}
.clickShield {
  position: fixed;
  background: #0000003d;
  width: 100%;
  height: 100%;
  top: 0;
}
.toggle-sidebar-btn {
  position: absolute;
  top: calc(50% - 18px);
  right: 0;
  transition: all 0.4s;
  &.active {
    transform: translate(-332px, 0);
  }
  a {
    width: 29px;
    min-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 1600px) {
  .palette-entries .bpm-item .square {
    font-size: 15px;
  }
}
@media screen and (max-width: 1400px) {
  .palette-entries .bpm-item {
    width: 90%;
  }
}
@media screen and (max-width: 1300px) {
  .palette-entries .bpm-item .square {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .item_title {
    font-size: 11px;
  }
  .list_item {
    height: 30px;
    padding: 0 0 0 34px;
  }
  .palette-entries {
    width: 180px;
  }
  .item-title {
    font-size: 11px;
  }
  .head-entries {
    height: 75px;
  }
  .head-entries p {
    font-size: 15px;
    margin: 0 0 10px 0;
  }
  .icon_wrap {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
  .item_wrap {
    padding: 0 6px;
    height: 34px;
  }
  .padding {
    background-color: #f6f7fb;
    height: 32px;
  }
  .header-palette {
    width: 100%;
    height: 36px;
    padding: 0 2% 0 195px;
  }
  .btn-gen_wrap {
    width: 23px;
    height: 23px;
    margin-right: 8px;
  }
}
@media screen and (max-width: 550px) {
  .palette-entries {
    width: 160px;
    min-width: 160px;
  }
  .header-palette {
    padding: 0 2% 0 175px;
  }
  .d-arrow {
    width: 8px;
  }
}
