.coco-bpm-graph {
  height: 99.6vh;
}
.rhombus-wrap {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: #000;
  position: relative;
  top: -18px;
  cursor: pointer;
}
.rhombus-wrap:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -18px;
  top: 18px;
  border: 18px solid transparent;
  border-top-color: #000;
}
.save-btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #5ac894;
  display: block;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  font-weight: 600;
  border: 2px solid #daecf8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.el_wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 18px;
}
.m-text {
  position: absolute;
  top: 12px;
  margin: 0;
  margin: 0;
  z-index: 2;
}
.cont__wrap {
  background: #fff;
  padding: 13px 22px 45px 13px;
  box-sizing: border-box;
}
.m-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
}
.r-name {
  font-family: "Roboto", sans-serif;
  color: #8e8d8d;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
}
.icons {
  cursor: pointer;
}
.rule-row__gen {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin: 10px 0;
}
.input-gen {
  font-family: "Roboto", sans-serif;
  color: #000;
  height: 30px;
  padding: 0 8px;
  box-sizing: border-box;
  max-width: 170px;
  width: 100%;
  background-color: #f5f6f5;
  border: 2px solid #daecf8;
}
.input-gen.sel {
  border-radius: 5px;
  height: 25px;
  margin-bottom: 2px;
  padding: 0 5px;
  cursor: pointer;
}
textarea.input-gen {
  height: auto;
  min-height: 90px;
  padding: 8px 10px;
}
.bpm-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid #ececec;
  overflow: hidden;
  min-height: calc(100vh - 58px);
}

.palette-entries {
  position: absolute;
  padding: 30px 5px;
  left: 0;
  top: 0;
  width: 15%;
  min-width: 180px;
  border-radius: 0px;
  background: #f2f2f2;
  border: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  .bpm-item {
    width: 80%;
    margin: 0 auto 15px auto;
    height: 35px;
    line-height: 46px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: #333;
      font-size: 30px;
    }

    &:hover {
      .icon {
        color: #ff7400;
      }
    }
    .square {
      font-family: "Roboto", sans-serif;
      width: 100%;
      height: 35px;
      border-radius: 2px;
      font-weight: 600;
      border: 2px solid #daecf8;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      padding-left: 3px;
      cursor: pointer;
    }
  }

  .separator {
    margin: 0 5px;
    padding-top: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    clear: both;
    width: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  max-width: 300px;
  background-color: #f1f2f2;
  transform: translate(100%, 0);
  transition: all 0.4s;
  height: 100%;
  right: 0;
  top: 0;
  padding: 32px 0 12px 15px;
  box-sizing: border-box;
  overflow-y: auto;

  &.show {
    transform: translate(0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) -8px 0px 5px -4px;
    z-index: 111;
  }
}

mat-form-field {
  display: block;
}

.input-btn-wrap {
  display: flex;
  align-items: center;

  mat-form-field {
    width: 100%;
  }

  button.btn {
    min-width: 0;
    padding: 0 6px;
    margin-left: 25px;
    min-width: 35px;

    .material-icons {
      transform: rotate(-90deg);
    }
  }
}

table {
  width: 100%;
  td {
    padding: 0;
  }
  th {
    padding: 0;
  }
}

.chekboxs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 5px;

  mat-checkbox {
    width: 50%;
  }
}

.loop-item {
  padding-bottom: 20px;
  border-bottom: 1px dashed #b7b7b7;
  padding: 5px 10px;
  padding-bottom: 10px;
  border: 1px dashed #b7b7b7;

  &.desc {
    padding: 0 !important;
    border: none !important;
  }
}
.clickShield {
  position: fixed;
  background: #0000003d;
  width: 100%;
  height: 100%;
  top: 0;
}
.toggle-sidebar-btn {
  position: absolute;
  top: calc(50% - 18px);
  right: 0;
  transition: all 0.4s;
  &.active {
    transform: translate(-300px, 0);
  }
  a {
    width: 29px;
    min-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
