/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
html, body {
    margin: 0;
}
body {
    width: 99.9%;
}

.svg {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  .svg > circle {
    stroke: black;
    fill: white;
  }
  .svg > path {
    stroke: black;
  }
  .svg:hover > circle {
    fill: red;
  }
  .svg:hover > path {
    stroke: white;
  }